@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-gray-800;
  }
  h1 {
    @apply text-2xl sm:text-3xl font-bold;
  }
  h2 {
    @apply text-xl sm:text-2xl font-bold;
  }
  h3 {
    @apply text-lg sm:text-xl font-medium;
  }
  h4 {
    @apply font-medium;
  }
  h5 {
    @apply text-sm font-medium;
  }
  p {
    @apply mb-3;
  }
  data {
    @apply block text-sm;
  }
  small {
    @apply block text-sm;
  }
  .textbox {
    @apply block w-full rounded-md border-gray-300;
  }
  .textbox-error {
    @apply block w-full rounded-md border-red-500 focus:border-red-500 focus:ring-0;
  }
  .checkbox {
    @apply h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500;
  }
  .text-error {
    @apply pt-1 text-sm text-red-600 dark:text-red-500;
  }
  .btn-base {
    @apply py-2 px-4 text-sm font-medium rounded-md border border-gray-300;
  }
  .button {
    @apply py-2 px-4 text-sm font-medium rounded-md text-white bg-indigo-600
    hover:bg-indigo-700 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }
  .btn-outlined {
    @apply py-2 px-4 text-sm font-medium rounded-md text-gray-700 border border-gray-300 
    hover:text-white hover:bg-indigo-600 focus:text-white focus:bg-indigo-600;
  }
  .btn-icon {
    @apply text-gray-600 hover:text-gray-800;
  }
  .menu-dropdown {
    @apply absolute z-40 mt-2 py-2 font-normal border rounded-md shadow-lg bg-white;
  }
  .menu-item {
    @apply py-2 px-4 text-sm text-gray-700 hover:bg-gray-100;
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid white;
  border-radius: 4px;
  background-color: lightgray;
}

.range-double {
  pointer-events: none;
  -webkit-appearance: none;
  position: absolute;
  top: 3px;
  z-index: 1;
  height: 0;
  width: 100%;
}

.range-double::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #6366f1;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
